.button {
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-blue {
    background-color: #007bff;
  }
  
  .button-blue:hover {
    background-color: #0056b3;
  }
  
  .button-green {
    background-color: #008c00;
  }
  
  .button-green:hover {
    background-color: #006600;
  }
  