.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.slider-container-unique { /* Changement de classe ici pour éviter le conflit */
  flex: 1;
  overflow: hidden; /* Masquer le débordement du texte */
}

.slider-text {
  font-size: 30px; /* Augmenter la taille du texte */
  color: orange; /* Texte en blanc */
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(255, 165, 0, 0.7); /* Ombre orange */
  white-space: nowrap; /* Empêche le texte de se casser en plusieurs lignes */
  animation: slide 20s linear infinite; /* Animation de défilement du texte avec une durée plus longue */
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.user-icon {
  cursor: pointer;
}

.user-icon svg {
  color: green;
}

.modal-overlay {
  position: fixed;
  top: 70px;
  left: 1000px;
  width: 20%;
  height: 30%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  width: 30px;
  margin-right: 20px;
  z-index: 10000;
}

.close-modal {
  position: absolute;
  top: -7px;
  right: px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
}

.dcx, .mdp {
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%; 
}

.dcx {
  background-color: red; 
  color: white;
  padding: 10px;
 
}

.mdp {
  background-color: blue; 
  color: white;
  font-size: 13px;
  padding: 10px;
}

.navbar-link {border: none;}

.notification-icon {
  position: relative;
  left: 190px;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}
