/* Style du Sidebar */
.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #1E1E2F;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
}

/* Logo */
.sidebar-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; 
}

.sidebar-logo-img {
  width: 120px;
  height: auto;
}

/* Contenu de la sidebar avec défilement */
.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px; 
  position: relative;
  bottom: 20px;
}

/* Boutons principaux */
.sidebar-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-button:hover, .sidebar-button.active {
  background-color: #008C00;
  color: white;
}

/* Icônes animées */
.animated-icon {
  animation: tiltAnimation 1.5s infinite alternate;
}

/* Animation d'inclinaison */
/* Animation pour faire bouger les icônes */
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Appliquer l'animation sur les icônes */
.sidebar-icon {
  animation: moveLeftRight 2s ease-in-out infinite;
}

/* Sous-catégories */
.subcategory {
  list-style-type: none;
  padding-left: 20px;
}

.subcategory li {
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.subcategory a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Animation pour faire bouger les icônes des sous-menus */
@keyframes moveLeftRightSubmenu {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Appliquer l'animation sur les icônes des sous-menus */
.subcategory .sidebar-icon {
  animation: moveLeftRightSubmenu 2s ease-in-out infinite;
}

/* Effet hover en bleu */
.subcategory a:hover, .subcategory a.active-link {
  color: #007BFF;
  font-weight: bold;
}

/* Bouton de déconnexion 
.logout-button {
  width:84%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #ff4d4d;
  border: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 60px; /* Positionner le bouton de déconnexion en bas */



